
/*big business styles */
body {
  font-family: helvetica, arial, sans;
}


body {
  box-shadow: 0 0 0 20px black inset;
  padding: 0 30px;
  margin:0;
}

h1,h2,h3 {
  margin: 0;
}

/* HEADER STYLES */
.header {
  background-color: black;
  height: 15vh;
  width: 100%;
  position: relative;
  text-align: center;
}

.header-logo {
  box-sizing: border-box;
  height: 15vh;
  position: absolute;
  width: 15vh;
  top: 0px;
  left: 0px;
}
.header-logo:hover,
.header-logo:active {
  background-color: orange;
}
.header-logo img {
  width: 15vh;
}
.header-nav {
  float: right;
  padding: 5.5vh 0 0 0;
}
.header-nav > li {
  display: inline-block;
  margin-left: 1em;
}
.header-nav > li ~ li {
  border-left: 1px solid green;
  padding-left: 1em;
}
.header-nav a {
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.header-nav a:hover,
.header-nav a:active {
  color: yellow;
}
.header-nav > li:first-child a {
  color: yellow;
}
.header-nav > li:first-child a:hover {
  color: white;
}

.header-name h1,h3 {
  color: white;
  margin: 0;
}

.header-name {
  position: relative;
  width: 300px;
  text-align: center;
  margin: auto;
  top: 50%;
  top: 50%;
  transform: translateY(-50%);
}

/* HERO STYLES */
.hero {
  background-size: cover;
  box-sizing: border-box;
  height: 85vh;
  background-image: url(../images/ship.jpg);
  background-position: center top;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero:after {
  bottom: 2vh;
  color: #fff;
  content: "ï¹€";
  font-size: 36px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
}

.hero-content {
  color: white;
}

/* CV STYLES */

.CVpic {
  width: 25vh;
  height: 25vh;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  position: absolute;
  border-radius: 50%;
  top: 30vh;
}


.Profile-hero {
  text-align: center;
  position: relative;
  height: 60vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  width: 100%;
}

.Title {
  text-align: center;
  padding-bottom: 5vh;
}

.Title h1 {
  margin-bottom: 5vh;
}

.Details {
  position: absolute;
  left: 7%;
  width: 30%;
}

.About {
  width: 30%;
  position: absolute;
  right: 7%;
}

/* CV stylesheet */

.uzh-logo {
  height: 20vh;
}

.unibe-logo {
  height: 20vh;
}

.suvretta_logo {
  height: 20vh;
}

.companoo_logo {
  width: 300px;
}

.sss_ybrig_logo {
  height: 20vh;
}

.parttime-logo {
  height: 20vh;
}

.cv-logo {
  margin: 5vh 0
}
.cv h2 {
  margin-top: 5vh;
  color: white;
}

.parttime {
  margin-bottom: 5vh;
}
.cv {
        display: flex;
        height: 170vh;
        background-color: #3382FF;
      }

      .education {
        flex: 1 1 auto;
        height: 100vh;
        width: 50%;
        text-align: right;
        padding-right: 5vh;
      }

      .work {
        flex: 1 1 auto;
        height: 100vh;
        width: 50%;
        padding-left: 5vh;
      }

      .vl {
          border-left: 6px solid white;
          height: auto;
      }
.cv h3 {
  margin-top: 3vh;
}


 /*footer style */

.footer {
  height: 40vh;
  background-color: black;
  position: relative;

}

.footer-logo {
  height: 15vh;
  width: 15vh;
  box-sizing: border-box;
}



.footer-logo img {
  height: 15vh;
  width: 15vh:;
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
}

.footer-name {
  color: white;
  left: auto;
  right: auto;
  text-align: center;
  padding-top: 5vh;
}


.footer-logo:hover,
.footer-logo:active {
  background-color: orange;
}

.Contact a {
  float: right;
  color: yellow;
  margin: 5px;
}

.social-link {
  background: grey;
  border-radius: 99px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-family: helvetica, arial, sans;
  font-size: 1.7em;
  font-weight: bold;
  height: 1.5em;
  line-height: 1;
  padding-top: 0.25em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 1.5em;
}

.social-list {
  position: absolute;
  right: 5vh;
  bottom: 5vh;
}

/* responsive stuff for the homepage*/

@media (max-width: 800px) {
  /* HOME STYLES CV section */
  .cv {
    flex-direction: column;
    height: auto;
    flex-wrap: wrap;
  }
  .work {
    flex: 1;
    width: auto;
    height: auto;
    font-size: 1.3rem;
  }

  .education {
    float: left;
    font-size: 1.3rem;
    width: auto;
    height: auto;
  }

  .header-name {
    display: none;
  }

  @media (max-width: 650px) {
    .Profile-hero {
      display: flex;
      flex-direction: column;
      height: 200vh;
      flex-wrap: wrap;
      margin: 0;

    }

    .Title {
      order: 1;
      width: 100%;
      height: auto;

    }

    .CVpic {
      order: 2;
    }

    .Details {
      float: none;
      width: 100%;
      height: auto;
      font-size: 1.3rem;

    }

    .About {
      float: none;
      width: 100%;
      height: auto;
      font-size: 1.3rem;
    }
  }
