<div class = "footer">
  <a href="{{ site.baseurl }}/index.html" class="footer-logo">
    <img src="{{ site.baseurl }}/images/sclogocrop.png" alt="mylogo">
  </a>
  <div class="footer-name">
    <h2>LuxsThor</h2>
    <p><b>Contact:</b></p>
    <p>Address: Luchswiesenstrasse 190, Zürich, CH</p>
    <p>Mail: lucas.thorbecke@bluewin.ch </p>
    <p>Phone: 0797705599</p>

  </div>
  <div class="social-list">
        <a href="https://www.youtube.com/channel/UCuRCFlcRrof6cf8YgeQE53Q?view_as=subscriber"
        target="blank" class="social-link">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://github.com/LuxsThor" target="blank" class="social-link">
          <i class="fab fa-github-square"></i>
        </a>
        <a href="https://www.facebook.com/lucas.thorbecke?ref=bookmarks"
        target="blank" class="social-link">
          <i class="fab fa-facebook-f"></i>
        </a>
  </div>
</div>
