<header class="header">
<nav>
<ul class="header-nav">
  <li><a href="https://github.com/LuxsThor/Mywebsite">Home</a></li>
  <li><a href="https://github.com/LuxsThor/Mywebsite/blog/index.html">Blog</a></li>
  <li><a href="https://github.com/LuxsThor/Mywebsite/gallry/index.html">Work</a></li>
  <li><a href="#">Hobby Projects</a></li>
</ul>
</nav>
<div class="header-name">
<h1>LuxsThor</h1>
<h3>WebSmith</h3>
</div>
<a href="/" class="header-logo">
<img src="https://github.com/LuxsThor/Mywebsite/images/sclogocrop.png" alt="Study conquest logo">
</a>
</header>
